.boton {
    background-color: #ffffff5f;
    color: #000000;
    text-decoration: none;
    border-radius: 10px;
    padding: 8px;
}


/* Estilos para las tarjetas */
.card {
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(118, 26, 105, 0.3); /* Sombra */
    transition: all 0.3s ease; /* Transición suave */
    margin-bottom: 30px; /* Espacio entre tarjetas */
}

.card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3); /* Sombra al hacer hover */
    transform: translateY(-5px); /* Efecto de levantar al hacer hover */
}

.card-img-top {
    border-top-left-radius: 15px; /* Esquina superior izquierda redondeada */
    border-top-right-radius: 15px; /* Esquina superior derecha redondeada */
}

.card-body {
    padding: 20px; /* Espaciado interno */
}



.boton:hover {
    background-color: rgb(195, 131, 255);   
     color:rgb(255, 255, 255)
}

.card-text {
    margin-bottom: 10px; /* Espaciado entre los párrafos */
}

.visible-status {
    color: green; /* Color verde para el estado visible */
}

.hidden-status {
    color: red; /* Color rojo para el estado oculto */
}

/* Estilos para los botones */
.boton-group {
    display: flex; /* Flexbox para alinear los botones */
    justify-content: space-between; /* Espacio entre los botones */
}

.card-columns {
    column-count: 3; /* Dividir en tres columnas */
    column-gap: 1rem; /* Espacio entre columnas */
}

.card {
    margin-bottom: 1rem; /* Margen inferior entre tarjetas */
}

@media (max-width: 991.98px) {
    .card-columns {
        column-count: 1; /* Cambiar a una columna en dispositivos pequeños */
    }
}